<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h1><%= title %></h1>
      </div>
    </div>
<<<<<<< HEAD

=======
>>>>>>> e5d38c31bcfa638a5c33397d259841f506f2dbd3
    <!-- redeem method icon (dynamic based on some list of options - check, credit, giftcard) -->

    <!-- redeem amount (total amount from db) -->
    <div class="row">
      <div class="small-10 small-centered columns">
<<<<<<< HEAD
        <span> <%= "$" + redeemAmount %> </span>
      </div>
    </div>
=======
      <span> <%= "$" + redeemAmount %> </span>
>>>>>>> e5d38c31bcfa638a5c33397d259841f506f2dbd3

    <!-- slider to manipulate amount, ranges from 0.01 to redeem amount from db -->
    <div class="row">
      <div class="small-10 small-centered columns">
        <input type="range" min="1" max="<%= redeemAmount %>" />
      </div>
    </div>

    <!-- redeem submit button -->
<<<<<<< HEAD
    <div class="row">
      <div class="small-10 small-centered columns">
        <input type="submit" value="Redeem" />
      </div>
    </div>
=======
    <input type="submit" value="Redeem" />
    </div>
  </div>
>>>>>>> e5d38c31bcfa638a5c33397d259841f506f2dbd3
  </body>
</html>
