<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>
    <%- include ../partials/menu.ejs %>

    <div class="row">
      <div class="text-center small-10 small-centered columns">
        <i class="fa fa-<%= icon %> size-7x"></i>
        <h2 class="text-center"><%= heading %></h2>
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-centered columns">
        <label id="redeemAmount" class="text-center xl-header"><%= "$" + redeemAmount %></label>
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-centered columns">
        <input id="redeemRange" type="range" min="1" max="<%= redeemAmount %>" value="<%= redeemAmount %>" />
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-centered columns">
        <input type="submit" value="Redeem" class="button" />
      </div>
    </div>

    <%-include ../partials/footer.ejs %>

    <%- include ../partials/scripts.ejs %>
    <script>
      $('#redeemRange').on('propertychange input', function(e) {
        $('#redeemAmount').text("$" + $(this).val());
      })
    </script>
  </body>
</html>
